/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/* Dark Green #84BF04 */
/* Blue  #049DBF */
/* Light green #C0D904 */

body > #page h1#page-title {
  color: #84BF04; !important }

body > #page #zone-branding-wrapper {
  border-top: 5px solid #C0D904 !important; }

/**
 * Menu footer navigation
 */
.section-footer ul.menu li.expanded {
  display: inline;
  float: left;
  /* LTR */ }

#region-footer-top {
  padding: 2em; }

#region-menu nav > ul.menu > li > a {
  text-shadow: none !important; }

.block-menu-menu-footer-navigation {
  width: auto; }

.section-footer ul.menu span.nolink {
  font-weight: bold !important;
}

.section-footer ul.menu,
.section-footer ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0 25px 0 0; }

.section-footer ul.menu {
  width: 100%; }
  .section-footer ul.menu li.expanded {
    list-style: none;
    list-style-image: none;
    padding-bottom: 10px; }
    .section-footer ul.menu li.expanded span,
    .section-footer ul.menu li.expanded a {
      font-weight: 600;
      text-decoration: none; }
    .section-footer ul.menu li.expanded span {
      color: white; }
    .section-footer ul.menu li.expanded ul.menu {
      margin: 10px 0 0 0; }
      .section-footer ul.menu li.expanded ul.menu li {
        display: block;
        float: none;
        padding: 0; }
        .section-footer ul.menu li.expanded ul.menu li a {
          color: #999999;
          font-weight: normal; }
          .section-footer ul.menu li.expanded ul.menu li a.active {
            color: #000; }
            .section-footer ul.menu li.expanded ul.menu li a.active:hover {
              text-decoration: underline; }
          .section-footer ul.menu li.expanded ul.menu li a:hover {
            text-decoration: underline; }

